.search {
  margin: 6.5rem 0 0;
  &__form {
    display: flex;
    flex-wrap: wrap;
  }

  &__form-main {
    position: relative;
    display: flex;
    width: 100%;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
  }

  &__input {
    width: 100%;
    height: 3.125rem;
    padding: 0 4.5rem 0 1.5rem;
    border: 1px solid #00CC00;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);

    &:hover, &:focus {
      border-color: #269926;
      box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
    }
  }

  &__btn {
    position: absolute;
    top: 1px;
    right: 0;
    width: 3.125rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0;
    border-left: 1px solid #00CC00;
    z-index: 1;

    svg {
      fill: #00CC00;
    }

    &:hover, &:focus {
      border-color: #269926;
      svg {
        fill: #269926;
      }
    }
  }

  &__extra-btn {
    margin-left: auto;
    margin-bottom: 0.75rem;
    color: #00CC00;

    &:hover {
      text-decoration: underline;
      color: #269926;
    }
  }

  &__extra {
    width: 100%;
  }

  &__extra-text {
    margin-bottom: 1rem;
  }

  &__checkbox {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
  &__checkbox-label {
    margin-right: 1.5rem;
  }
}
